body{
    font-family: cursive;
    padding: 0px;
    background: linear-gradient(90deg, rgba(243,14,192,1) 4%, rgba(231,28,152,1) 17%, rgba(205,70,121,1) 22%, rgba(228,50,27,1) 47%, rgba(235,21,144,1) 78%, rgba(250,12,5,1) 93%);
    margin: 0px; 
    animation-name: fadeIn;
    animation-duration: 2s;
}

#root {
    font-family: cursive; 
    padding: 0px;
    background: rgb(253, 108, 89);
    margin: 0px; 
    animation-name: fadeIn;
    animation-duration: 2s;
}
  
/* Header/Blog Title */
.header {
    font-family: cursive;
    padding: 15px;
    font-size: 20px;
    text-align: center;
    background: rgb(236, 85, 85);
}
  
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    display: flex;
    flex-direction: column;
    flex:8;
    padding-right: 10px;
}
  
/* Right column */
.rightcolumn {
    display: flex;
    flex:2;
    flex-direction: column;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
    background-color: rgb(236, 160, 160);
    padding: 10px;
    margin-top: 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.card:first-child{
    margin-top: 0px;
}
  
/* Clear floats after the columns */
.row{
    height: 355px;
    overflow: auto;
    display: flex;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.imagePost{
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 10px;
    border: 1px solid black;
}

.imagePostLittle{
    width: 75px;
    height: 75px;
    border: 1px solid black;
}

.RichTextEditor__root___2QXK- {
    display: flex;
    flex: 1;
    flex-direction: column;
}
/* Footer */
.footer {
    padding: 10px;
    text-align: center;
    background: rgb(0, 0, 0);
    margin-top: 10px;
    color : rgb(250, 250, 250);
}
  
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        flex: 1;
        padding: 0px;
    }
    .row{
        flex-direction: column;
        height: 315px;
    }
}

 /* The animation code */
@keyframes fadeIn {
    from {opacity: 0; }
    to {opacity: 1;}
}
  